<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form action="#" th:action="@{/registration}" th:object="${userForm}" method="post">
    <input type="text" name="username" id="username" th:field="*{username}"/>
    <input type="password" name="password" id="password" th:field="*{password}"/>
    <input type="password" name="confirmPassword" id="confirmPassword" th:field="*{confirmPassword}"/>
    <button type="submit">add</button>


</form>
</body>
</html>