<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RBC main</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div th:include="fragments/header :: header"></div>

<div class="container">
    <br/>
    <h3>Users management</h3>
    <p>Registered users list</p>
    <hr>
    <table class="table table-bordered table-striped" style="margin-top: 1rem;">
        <thead class="thead-dark">
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Role</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="tempRegUser : ${regUsersForm}">
            <td th:text="${tempRegUser.id}"/>
            <td th:text="${tempRegUser.username}"/>
            <td th:text="${tempRegUser.roles}"/>
            <td>
                <a th:href="@{/userManagement/showUserFormForPassword(userId=${tempRegUser.id})}" class="btn btn-primary">Change password</a>
                <a th:href="@{/userManagement/showUserFormForRole(userId=${tempRegUser.id})}" class="btn btn-warning">Change role</a>
                <a th:href="@{/userManagement/delete(userId=${tempRegUser.id})}" class="btn btn-danger"
                   onclick="return confirm('Are you sure you want to delete that user?')">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div th:include="fragments/footer :: footer"></div>

</body>
</html>

<!--
<h2 th:text="'Hello ' + ${#request.userPrincipal.name}"></h2>
-->